.character-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.character-input, .create-character{
    text-align: center;
    padding: 5px;
    color: #ecf0f1;
    border-radius: 7px;
    border: .5px solid grey;
    margin: 10px;
}
.create-character{
    border: none;
    margin-top: 25px;
    cursor: pointer;
    background-color: hsl(37, 90%, 41%);
    transition: background-color 0.5s ease;
    transition: padding 0.5s ease;
}
.create-character:hover{
    background-color: hsl(37, 90%, 31%);
    padding: 10px;
}
