.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(0, 75%, 21%);
    height: 100vh;
}
.title{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 75px;
    color: hsl(192, 15%, 94%);
}
.login-container{
    margin-bottom: 25px;
}
input,button {
    all: unset;
}
img{
    margin-bottom: 60px;
}
.login-credentials-container {
    width: 100%; 
    margin-bottom: 40px;
}  
.login-credentials {
    text-align: center;
    padding: 10px;
    width: calc(50% - 10px); 
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}
.login-credentials:not(:last-child) {
    margin-right: 20px; 
}
.login-credentials,.login-submit,.create-account{
    color: #ecf0f1;
    border-radius: 7px;
    border: .5px solid grey;
}
.login-submit{
    cursor: pointer;
    padding: 5px 25px;
    transition: background-color 0.5s ease;
    margin-bottom: 20px;

}
.login-submit:hover{
    background-color: hsl(145, 82%, 30%);
}
.create-account{
    color: #ecf0f1;
    font-size: small;
    border: none;
    padding: 5px;
    box-sizing: border-box; 
    cursor: pointer;
    transition: color 0.3s ease;
}
.create-account:hover{
    color: hsl(45, 100%, 67%);
}
.login-credentials:hover {
    background-color: hsl(204, 76%, 25%);
}
.login-submit:hover{
    background-color: hsl(145, 82%, 30%);
}
.switching-signup{
    text-decoration: none;
}